@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Google fonts */

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}

/* common styles */
body {
  max-width: 1440px;
  margin: 0 auto;
}

.btn-primary {
  color: white;
  background-color: rgba(255, 144, 14, 1);
  border: none;
  border-radius: 0.5rem;
  padding: 20px 27px;
  font-style: SemiBold;
  font-size: 20px;

}

.dark-03 {
  color: rgba(114, 114, 114, 1);
}

.orange-text {
  color: rgba(255, 144, 14, 1);
}

/* header section styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3.125rem;

}

.nav-title {
  font-size: 45px;
  font-weight: 700;
  color: var(--Dark 01, rgba(19, 19, 19, 1));
}

.nav-links {
  display: flex;
  gap: 1.5rem;
}

.nav-link {
  font-size: 18px;
  font-weight: 500;
  color: var(--Dark 02, rgba(66, 66, 66, 1));
}



/* main section styles */

/* banner */
.banner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-top {
  text-align: center;
  margin-top: 6.375rem;

}

.banner-title,
.banner-description {
  max-width: 53rem;
  margin: 0 auto;
}

.banner-title {
  font-size: 64px;
  font-weight: 700;
  color: var(--Dark 01, rgba(19, 19, 19, 1));
  text-align: center;
  margin-bottom: 0.5rem;
}

.banner-description {
  font-size: 16px;
  font-weight: 400;
  color: var(--Dark 03, rgba(114, 114, 114, 1));
  text-align: center;
  margin-bottom: 1rem;
}

.banner-button {
  margin-bottom: 3.125rem;
}

/* quick-feature */
.quick-feature {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4.75rem;
  margin-top: 5rem;
  margin-bottom: 8rem;
}

.quick-feature-imgs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.quick-title {
  font-size: 45px;
  font-weight: 700;
}
.quick-description{
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

/* footer styles */

/* Responsiveness styles */
/* very small device */

@media screen and (max-width:576px) {
  nav {
    flex-direction: column;
    gap: 1.5rem;
  }

  .nav-links {
    gap: 1rem;
  }

  .nav-link {
    font-size: 15px;
  }

  .nav-title {
    font-size: 2rem;
  }

  /* banner */
  .banner-img img {
    width: 100%;
  }

  .banner-top {
    margin-top: 2.5rem;
  }

  .banner-title {
    font-size: 1.635rem;
  }

  .banner-description {
    padding: 0 2rem;
    font-size: 15px;
  }

  .banner-button {
    padding: 20px 20px;
    margin-bottom: 1.125rem;
  }

  .btn-primary {
    padding: 12px 20px;
    font-size: 12px;
    margin: 0;
  }
  /* quick-feature styles */
  .quick-feature{
    flex-direction: column-reverse;
    margin: 20px 20px;
  }
  .quick-feature-imgs{
    grid-template-columns: repeat(1,1fr);
    
  }
  .quick-feature-imgs img{
    width: 100%;
  }
  .quick-title{
    font-size: 2rem;
  }
}